@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    padding: 0;
    margin: 0;
}

.swal2-confirm {
    background-color: rgb(54, 85, 85) !important;
    width: 300px;
    height: 49px;
    border-radius: 49px !important;
}

button,
button:active,
button:focus {
  outline: none;
}

.swal2-backdrop-show {
    background: rgba(0, 0, 0, 0) !important;
    background-image: linear-gradient(329deg, rgba(46,74,84,1) 0%, rgba(114, 145, 163, 0.507) 33%, rgba(128, 141, 94, 0.507) 66%, rgba(56,70,52,1) 100%) !important;
}

#background-image {
    background-image: linear-gradient(329deg, rgba(46,74,84,1) 0%, rgba(114, 145, 163, 0.507) 33%, rgba(128, 141, 94, 0.507) 66%, rgba(56,70,52,1) 100%), url('img/backgroun.jpg') !important;
    height: 100vh;
    background-size: cover;
}

.main-login-wrapper {
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.596);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 400px;
    height: 400px;
    border-radius: 50px;
}

.hidden {
    display: none;
}

.form-title {
    font-family: "MedievalSharp", cursive    ;
    letter-spacing: 10px;
    display: flex;
    justify-content: center;
    padding: 30px;
    text-transform: uppercase;
}

.main-login-wrapper  .login-form, .main-login-wrapper .signup-form {
    display: grid;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.input-field {
    max-width: 350px;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.384);
    margin: 10px 0;
    height: 55px;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
}

.input-field i {
    text-align: center;
    line-height: 55px;
    color: rgb(141, 161, 161);
    transition: 0.5s;
    font-size: 1.1rem;
}

.input-field input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-size: 1.1rem;
    color: #333;
}

.input-field input::placeholder {
    color: rgb(141, 161, 161);
}

.login-form button, .signup-form button {
    width: 150px;
    background-color: rgb(54, 85, 85);
    border: none;
    outline: none;
    width: 300px;
    height: 49px;
    border-radius: 49px;
    color: rgba(255, 255, 255, 0.384);
    text-transform: uppercase;
    font-family: "MedievalSharp", cursive;
    font-weight: 600;
    letter-spacing: 4px;
    font-size: 1.4rem;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
}

.login-form button:hover {
    background-color: rgba(54, 85, 85, 0.5);
    color: rgb(54, 85, 85);
}

#login-btn-container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.main-login-wrapper, .social-link {
    animation: fadeIn 1.5s   ease-in-out forwards;
    -webkit-animation: fadeIn 1.5s   ease-in-out forwards;;
    -moz-animation: fadeIn 1.5s  ease-in-out forwards;;
    -o-animation: fadeIn 1.5s    ease-in-out forwards;;
    -ms-animation: fadeIn 1.5s   ease-in-out forwards;;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.social-link {
    position: absolute;
    top: 89%;
    left: 94%;
    transform: translateX(-50%) translateY(-50%);
}

.social-list {
    display: inline-flex;
    list-style: none;
}

.social-list .icon {
    background-color: rgba(255, 255, 255, 0.596);
    backdrop-filter: blur(10px);
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 25px;
    height: 25px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}


.social-list .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    font-family: "Poppins", sans-serif;
}

.social-list .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.social-list .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.social-list .icon:hover span,
.social-list .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.social-list .github:hover,
.social-list .github:hover .tooltip,
.social-list .github:hover .tooltip::before {
  background: rgb(54, 85, 85);
  color: #ffffff;
}

.social-list .github .fa-github {
    color: rgb(54, 85, 85);
    font-size: 32px;
}

.social-list .github:hover .fa-github {
    color: white;
}